@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;0,400;,600&family=Source+Code+Pro:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'montserrat';
}
html {   
  scroll-behavior: smooth;
}
   
#inicio {
  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header{
  background-color:rgba(236, 128, 195);
  position: fixed;
  width: 100%;
  z-index: 100;
  top:0;
}
#inicio .contenido header .contenido-header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}
#inicio .contenido header .contenido-header h1{
  text-align: center;
  color: darkmagenta;
}
#inicio .contenido header .contenido-header nav ul{
  list-style: none;
  display: flex;
  align-items:center;
}
#inicio .contenido header .contenido-header nav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}
#inicio .contenido header .contenido-header nav ul a:hover{
  color: darkmagenta;
}
#inicio .conteido header .contenido-header .redes a{
   text-decoration: none;
   color: rgb(21, 20, 22);
   display:  inline-block;
   margin-left: 10px;
   transition: .5s;
}
#inicio .conteido header .contenido-header .redes a:hover{
color: rgb(143, 57, 117);
}

#inicio .contenido .presentacion{
  max-width:  1100px;
  background-size: cover;
  height: 100vh;
  margin: auto;
  color:rgb(19, 15, 15) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: beige;
}
#inicio .contenido .presentacion .bienvenido{
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;

}
#inicio .contenido .presentacion h2{
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;

}
#inicio .contenido .presentacion h2 span {
  font-size:  25px;
  color: rgb(153, 26, 115);
  
}
#inicio .contenido .presentacion .descripcion{
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}
#inicio .contenido .presentacion a{
  text-decoration:none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid rgb(126, 37, 82);
  border-radius:  50px;
  color: rgb(68, 3, 43);
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;

}
#inicio .contenido .presentacion a:hover{
  background-color: rgb(199, 75, 137);
}
#icono-nav{
  color: rgb(231, 29, 147);
  display: none;
}

/* SECCION SOBBRE MI */
#sobremi{
  max-width: 1100px;
  margin: auto;
  padding:100px 15px ;
  color: rgb(3, 0, 5);
  display: flex;
}
#sobremi .contenedor-foto{
  max-width: 400px;
  margin-right: 100px;
}
#sobremi .contenedor-foto img{
  padding: 20px;
  width: 500px;
  border-radius: 70px;
  background-color: aliceblue;
}
#sobremi .sobremi{
  margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}
#sobremi .sobremi h2{
  font-size: 34px;
  font-weight:bold;
  margin: 20px 0 ;
  letter-spacing: 2px;
}
#sobremi .sobremi h2 span{
  color: rgb(136, 10, 98);

}
#sobremi .sobremi h3{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;

}
#sobremi .sobremi p{
  font-size: 20px;
  line-height: 25px;
  color: rgb(56, 50, 50);
  margin-bottom: 12px;

}
#sobremi .sobremi a{
  display:  inline-block;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: .5s;

}
#sobremi .sobremi a:hover{
  background-color:rgb(187, 82, 161);
  color: aliceblue;
}


/*seccion servicios*/
#servicios{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(255, 179, 222);

}
#servicos .titulo-seccion{
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}
#servicios .fila{
  display: flex;
  justify-content: space-between;
  max-width: 1100;
  margin: 30px auto;
}
#servicios .fila .servicio{
  max-width: 350px;
  background-color: rgb(235, 221, 229);
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: .5s;

}
#servicios .fila .servicios:hover{
  box-shadow: 5px 5px 10px #565656, 5px -5px 10px;

}
/*SECCIION PORTAFOLIO*/
#portafolio{
  max-width:1800px;
  padding:10px 0;
  margin: auto;

}
#portafolio .titulo-seccion{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  text-decoration-thickness:5px;
}
#portafolio .filas{
  display: flex;
  justify-content: space-between;
  margin:10px 0;

}

#portafolio .fila .proyectos{
  max-width:4px;
  border: 1px solid#000;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
/*SECCION CONTACTO*/

#contacto {
  padding: 100px 15px;
  background-color: #f3f3f3;
}

#contacto .titulo-seccion {
  margin-bottom: 20px;
}

#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
  width: 48%;
}

#contacto .contenedor-form .input-full {
  width: 100%;
}

#contacto .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: .5s;
  padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
  background-color: #ff5080;
  color: #fff;
}